{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}">

</head>
<body>
    
<center>
   <h1> BUTTONS</h1>
<h1>
    <button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
</h1>

<h1>
<button type="button" class="btn btn-outline-primary" data-mdb-ripple-color="dark">Primary</button>
<button type="button" class="btn btn-outline-secondary" data-mdb-ripple-color="dark">Secondary</button>
<button type="button" class="btn btn-outline-success" data-mdb-ripple-color="dark">Success</button>
<button type="button" class="btn btn-outline-danger" data-mdb-ripple-color="dark">Danger</button>
<button type="button" class="btn btn-outline-warning" data-mdb-ripple-color="dark">Warning</button>
<button type="button" class="btn btn-outline-info" data-mdb-ripple-color="dark">Info</button>
<button type="button" class="btn btn-outline-light" data-mdb-ripple-color="dark">Light</button>
<button type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark">Dark</button>
</h1>

<h1>
<button type="button" class="btn btn-primary btn-rounded">Primary</button>
<button type="button" class="btn btn-secondary btn-rounded">Secondary</button>
<button type="button" class="btn btn-success btn-rounded">Success</button>
<button type="button" class="btn btn-danger btn-rounded">Danger</button>
<button type="button" class="btn btn-warning btn-rounded">Warning</button>
<button type="button" class="btn btn-info btn-rounded">Info</button>
<button type="button" class="btn btn-light btn-rounded">Light</button>
<button type="button" class="btn btn-dark btn-rounded">Dark</button>
</h1>


<h1>
    <button type="button" class="btn btn-outline-primary btn-rounded" data-mdb-ripple-color="dark">Primary</button>
<button type="button" class="btn btn-outline-secondary btn-rounded" data-mdb-ripple-color="dark">Secondary</button>
<button type="button" class="btn btn-outline-success btn-rounded" data-mdb-ripple-color="dark">Success</button>
<button type="button" class="btn btn-outline-danger btn-rounded" data-mdb-ripple-color="dark">Danger</button>
<button type="button" class="btn btn-outline-warning btn-rounded" data-mdb-ripple-color="dark">Warning</button>
<button type="button" class="btn btn-outline-info btn-rounded" data-mdb-ripple-color="dark">Info</button>
<button type="button" class="btn btn-outline-light btn-rounded" data-mdb-ripple-color="dark">Light</button>
<button type="button" class="btn btn-outline-dark btn-rounded" data-mdb-ripple-color="dark">Dark</button>
</h1>


<h1>
    <a class="btn btn-primary" href="#" role="button">Link</a>
<button class="btn btn-primary" type="submit">Button</button>
<input class="btn btn-primary" type="button" value="Input" />
<input class="btn btn-primary" type="submit" value="Submit" />
<input class="btn btn-primary" type="reset" value="Reset" />
</h1>

<h1>
    <button type="button" class="btn btn-light" data-mdb-ripple-color="dark">Light</button>
<button type="button" class="btn btn-dark">Dark</button>
</h1>

  
<h1>
    <button type="button" class="btn btn-primary btn-sm">Button</button>
<button type="button" class="btn btn-primary">Button</button>
<button type="button" class="btn btn-primary btn-lg">Button</button>
</h1>


<h1>
    <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Primary link</a>
<a href="#" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Link</a>
</h1>

</center>


    <script src="{% static 'js/mdb.min.js' %}"></script>
   
</body>
</html>